.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  bottom: 0;
  background-color: rgba(120, 0, 46, 0.7);
  color: #FFFFFF;
  z-index: 10;
  overflow: hidden;
}

.sidebar-inner {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  padding: 40px;
  box-sizing: border-box;
}

.sidebar-avatar {
  order: 1;
  position: relative;
}

.sidebar-nav {
  order: 2;
  position: relative;
  z-index: 10;
  width: 100%;
}

.sidebar-social {
  width: 100%;
  padding: 40px 10px;
  order: 3;
  position: relative;
}

.sidebar-social > * {
  padding-left: 10px;
}

/* Media Query for 1000px - 1100px screens */
@media only screen and (max-width: 1200px) and (min-width: 1000px) {
  .sidebar-inner {
    padding: 20px;
  }
}

/* For screens less than 1000px */
@media only screen and (max-width: 1000px) {
  .nav-menu-button {
    display: flex;
  }

  .nav-container {
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
  }

  .sidebar {
    position: static;
    display: block;
    height: 276px;
    width: 100%;
    background-color: rgba(120, 0, 46, 0.7);
    color: #FFFFFF;
    transition: height 330ms ease-out;
  }

  .sidebar-expanded {
    height: 550px;
  }

  .sidebar-inner {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0;
  }

  .sidebar-social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 60px;
    padding: 0 10px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,0.24);
    border-bottom: 1px solid rgba(255,255,255,0.24);
    order: 2;
  }

  .sidebar-social > .label {
    display: none;
  }

  .sidebar-nav {
    order: 3;
    width: 100%;
  }
}