.side-nav {
  display: block;
  width: 100%;
}

.side-nav > ul {
  list-style: none;
  padding: 0 10px;
  color: #FFFFFF;
  padding-top: 20px;
}

.side-nav > ul > li {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
}

.side-nav > ul > li > a {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
  text-decoration: none;
  letter-spacing: .4px;
  display: block;
  position: relative;
}

.side-nav > ul > li > a > i {
  border: solid #FFF;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  position: relative;
  top: -2px;
  left: 3px;
  visibility: hidden;
}

.side-nav > ul > li > a:hover {
  color: #FFFFFF;
}

.side-nav > ul > li > a:hover i {
  visibility: visible;
}

.side-nav > ul > li > a.active {
  color: #FFFFFF;
  font-weight: 400;
  pointer-events: none;
  cursor: default;
}

.side-nav > ul > li > a.active::after {
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-right: 8px solid #FFFFFF;
  bottom: 7px;
  left: auto;
  right: -50px;
  content: ""
}