.dot-pulse-container {
  height: 20px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dot-pulse {
  width: 18px;
  height: 18px;
  background-color: var(--primary-action-color-dark);
  border-radius: 100%;
  display: inline-block;
  animation: bouncedelay 1.4s infinite ease-in-out;
  animation-fill-mode: both
}

.dot-pulse:nth-of-type(1) {
  animation-delay: -.32s
}

.dot-pulse:nth-of-type(2) {
  animation-delay: -.16s
}

@keyframes bouncedelay {
  0%, 100%, 80% {
    transform: scale(0)
  }
  40% {
    transform: scale(1)
  }
}
