.dot-pulse-container {
  display: block;
  height: 200px;
  width: 200px;
  position: absolute;
  left: calc(50% - 100px);
  top: calc(50% - 200px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot-pulse {
  position: relative;
  left: -9999px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--primary-action-color-dark);
  color: var(--primary-action-color-dark);
  box-shadow: 9999px 0 0 -5px var(--primary-action-color-dark);
  animation: dot-pulse 1.5s infinite linear;
  animation-delay: .25s;
}

.dot-pulse::before, .dot-pulse::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--primary-action-color-dark);
  color: var(--primary-action-color-dark);
}

.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px var(--primary-action-color-dark);
  animation: dot-pulse-before 1.5s infinite linear;
  animation-delay: 0s;
}

.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px var(--primary-action-color-dark);
  animation: dot-pulse-after 1.5s infinite linear;
  animation-delay: .5s;
}

@keyframes dot-pulse-before {
  0% {
    box-shadow: 9964px 0 0 -15px var(--primary-action-color-dark);
  }
  30% {
    box-shadow: 9964px 0 0 2px var(--primary-action-color-dark);
  }
  60%,
  100% {
    box-shadow: 9964px 0 0 -15px var(--primary-action-color-dark);
  }
}

@keyframes dot-pulse {
  0% {
    box-shadow: 9999px 0 0 -15px var(--primary-action-color-dark);
  }
  30% {
    box-shadow: 9999px 0 0 2px var(--primary-action-color-dark);
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -15px var(--primary-action-color-dark);
  }
}

@keyframes dot-pulse-after {
  0% {
    box-shadow: 10034px 0 0 -15px var(--primary-action-color-dark);
  }
  30% {
    box-shadow: 10034px 0 0 2px var(--primary-action-color-dark);
  }
  60%,
  100% {
    box-shadow: 10034px 0 0 -15px var(--primary-action-color-dark);
  }
}