:root {
  --primary-action-color: #ad1457;
  --theme-text-on-primary: #ffffff;
}

body {
  background-color: #c5a6a6;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background: url("/kansas_city.jpg") top center no-repeat #BABABA;
  background-size: cover;
  font: 400 10px 'Roboto', 'Arial', sans-serif;
}

.site-main {
  display: block;
  position: fixed;
  left: 460px;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

/* Transition Timings*/
.fade-short-enter {
  opacity: 0;
}

.fade-short-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
  transition-delay: 1200ms;
}

.fade-short-exit {
  opacity: 1;
}

.fade-short-exit-active {
  opacity: 0;
  transition: opacity 200ms ease-in;
}

/* Board */
.board {
  background-color: #FFFFFF;
  padding: 40px 50px;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

.board-title {
  line-height: 1;
  color: #555;
  display: block;
}

.board-title > h1 {
  font-weight: 400;
  text-shadow: 1px 1px rgba(0,0,0,.3);
  font-size: 36px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.board-description {
  display: block;
  color: #555;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .3px;
}

.board-description a {
  text-decoration: none;
  color: #ad1457;
  font-weight: 400;
}